# Android Studio
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries/
.idea/libraries/
.idea/deploymentTargetDropDown.xml
.idea/deploymentTargetSelector.xml
.idea/appInsightsSettings.xml
.idea/other.xml
.idea/render.experimental.xml
/.idea/compiler.xml

# Build files
.gradle/
local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/assetWizardSettings.xml
/.idea/misc.xml
/.idea/gradle.xml
/.idea/vcs.xml
.DS_Store


/app/build/

/app/google-services.json

